<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename=  'css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=  'css/bootstrap.min.css') }}">
    <title>Tic Tac Toe</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Tic Tac Toe</h1>
        <div class="login-form">
            <h2>Login</h2>
            <form method="POST" action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename=  'js/app.js') }}"></script>
</body>
</html>
